<!DOCTYPE html>
<html>
<head>
    <title>Masjid Namaz Times</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- TOP DATE & TIME -->


<h1>اوقاتِ نماز — جامع مسجد برزلہ</h1>

<div class="main-container">

    <!-- NAMAZ BOARD -->
    <div class="namaz-board">
        <p>FAJR  فجر<span>{{ times.fajr }}</span></p>
        <p>ZUHAR ظہر<span>{{ times.zuhar }}</span></p>
        <p>ASR عصر<span>{{ times.asr }}</span></p>
        <p>MAGRIB مغرب<span>{{ times.magrib }}</span></p>
        <p>ISHA عشاء<span>{{ times.isha }}</span></p>
        <p>JUM'AH جمعہ<span>{{ times.jumah }}</span></p>
    </div>

    <!-- RIGHT SECTION -->
    <div class="right-section">

        <div class="side-datetime" id="sideDateTime"></div>
    <div class="sehri-box">
    <h3>Sehri اختتامِ سحری</h3>
    <div class="sehri-time">{{ times.sehri }}</div>
</div>


        <div class="iftar-box">
            <h3>IFTAR   افطار</h3>
            <div class="iftar-time">{{ times.iftar }}</div>
        </div>
<!-- HADITH SECTION -->
<div class="hadith-box">
    <h3>📖 Hadith of the Day</h3>
    <p>{{ times.hadith }}</p>
</div>
    </div>

</div>

<script>
function updateDateTime() {
    let now = new Date();

    let time = now.toLocaleTimeString([], {
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit'
    });

    let date = now.toLocaleDateString('en-GB');

    let full = date + " | " + time;

    // Only update existing element
    let sideBox = document.getElementById("sideDateTime");
    if (sideBox) {
        sideBox.innerHTML = full;
    }
}

setInterval(updateDateTime, 1000);
updateDateTime();
</script>

</body>
</html>

